section#header
	div(id="parallax1", class="parallaxParent")
		.image(style="background-image: url(assets/img/hero.jpg;")
	.overlay
		h1.title Kenal Pahlawan Kuy
		h6.subtitle Tugas akhir MPKT A kelas D
		#scrolldown
			i.fa.fa-angle-double-down(aria-hidden="true")
section.pahlawan
	.container
		.pop-kuis
			h1.title Siapa pahlawan yang dimaksud dibawah ini?
			.content
				.card
					.item
						img(src="#", alt="1")
					.item
						img(src="#", alt="1")
					.item
						img(src="#", alt="1")
		.pop-preview
			.container
				h1.title Pahlwan tersebut berada didalam uang ini!
				.content
					//-- image here
section.pahlawan
	.container
section.pahlawan
	.container
section.pahlawan
	.container
section.pahlawan
	.container
