section#header
	div(id="parallax1", class="parallaxParent")
		.image(style="background-image: url(assets/img/hero.jpg;")
	.overlay
		h1.title Kenal Pahlawan Kuy
		h6.subtitle Tugas akhir MPKT A kelas D
		#scrolldown
			i.fa.fa-angle-double-down(aria-hidden="true")
section.pahlawan
	.container
		| jamban
section.pahlawan
	.container
		| jamban
section.pahlawan
	.container
		| jamban
section.pahlawan
	.container
		| jamban
section.pahlawan
	.container
		| jamban