section#header
	div(id="parallax1", class="parallaxParent")
		.image(style="background-image: url(assets/img/hero.jpg;")
	.overlay
		h1.title Kenal Pahlawan Kuy
		h6.subtitle Tugas akhir MPKT A kelas D
		#scrolldown
			i.fa.fa-angle-double-down(aria-hidden="true")
//- section.pahlawan
	.container
		img.map(style="width: 50%;", src="http://indonesiamap.facts.co/indonesiablankmap.png")
		.pop-kuis
			h1.title Siapa pahlawan yang dimaksud dibawah ini?
			.card-group
				.card
					.card-block
						h4.card-title Card title
						p.card-text
							| This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
				.card
					.card-block
						h4.card-title Card title
						p.card-text This card has supporting text below as a natural lead-in to additional content.
				.card
					.card-block
						h4.card-title Card title
						p.card-text
							| This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.
section.antasari
	.scene-identitas
		.lahir
			p.tanggal.col-xs-12 1809
			p.narasi.col-xs-6 Lahirlah seorang anak yang kelak akan mengubah sesuatu yang sangat besar...
			img.map-id(src="assets/img/id.svg")
			img.map-id(src="assets/img/id.svg")
			p.tempat lahir di Bayan Begok, Hindia-Belanda
			//- http://simplemaps.com/
		.deskirpsi
			h2 Pahlawan Nasional Indonesia
			.pengukuhan
				p Menjadi Sultan Banjar pada
				p.tanggal 14 Maret 1862
	.scene-kiprah
		p.tanggal 25 April 1859
		img.map-id(src="assets/img/mine.svg")
		img.map-id(src="assets/img/crowd2.svg")
		img.map-id(src="assets/img/crowd1.svg")
		//- http://simplefreevector.com
		p Perang pecah di Banjar!
		
		h1 Perang Banjar
		p sedikitnya 300 prajurit menyerang tambang batu bara milik Belanda di Pengaron.

	//- .scene-ketahanan
	//- 	p.tanggal 20 Juli 1861
	//- 	h2 Kolonel Gustave Verspijck
	//- 	p.surat “...dengan tegas kami terangkan kepada tuan: Kami tidak setuju terhadap usul minta ampun dan kami berjuang terus menuntut hak pusaka (kemerdekaan)...”

	//- .scene-penganugrahan
	//- 	p.tanggal 27 Maret 1968
	//- 	p berdasarkan
	//- 	h3.sk SK No. 06/TK/1968
	//- 	p beliau dianugrahi gelar sebagai Pahlawan Nasional Kemerdekaan oleh Pemerintahan Republik Indonesia.
	//- .scene-kuis
	//- .scene-duit
	//- 	p nama dan gambar beliau diabadikan dalam uang kertas nominal Rp. 2000
	//- 	img(src="#")