section#header
	div(id="parallax1", class="parallaxParent")
		.image(style="background-image: url(assets/img/hero.jpg;")
	.overlay
		h1.title Kenal Pahlawan Kuy
		h6.subtitle Tugas akhir MPKT A kelas D
		#scrolldown
			i.fa.fa-angle-double-down(aria-hidden="true")
//- section.pahlawan
	.container
		img.map(style="width: 50%;", src="http://indonesiamap.facts.co/indonesiablankmap.png")
		.pop-kuis
			h1.title Siapa pahlawan yang dimaksud dibawah ini?
			.card-group
				.card
					.card-block
						h4.card-title Card title
						p.card-text
							| This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
				.card
					.card-block
						h4.card-title Card title
						p.card-text This card has supporting text below as a natural lead-in to additional content.
				.card
					.card-block
						h4.card-title Card title
						p.card-text
							| This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.
section.antasari
	.scene-identitas
		.lahir
			p.tanggal.col-xs-12 1809
			p.narasi.col-xs-6 Lahirlah seorang anak yang kelak akan mengubah sesuatu yang sangat besar...
			img.map-id(src="assets/img/id.svg")
			img.map-id(src="assets/img/id.svg")
			p.tempat lahir di Bayan Begok, Hindia-Belanda
			//- http://simplemaps.com/
		.deskirpsi.col-xs-12
			h2.col-xs-12 Pahlawan Nasional Indonesia
			.pengukuhan
				p.informasi.col-xs-12 Menjadi Sultan Banjar pada
				p.tanggal.col-xs-12 14 Maret 1862
section.antasari-1
	.scene-kiprah
		.tanggal.col-xs-12 25 April 1859
		img.map-id1(src="assets/img/mine.svg")
		img.map-id2(src="assets/img/crowd2.svg")
		img.map-id3(src="assets/img/crowd1.svg")
		//- http://simplefreevector.com
		p.pecah.col-xs-12 Perang pecah di Banjar!
		
		h1.judul.col-xs-12 Perang Banjar
		p.deskripsi.col-xs-6 sedikitnya 300 prajurit menyerang tambang batu bara milik Belanda di Pengaron.

.scene-ketahanan
	.slideContainer
		section.panel.blue
			p.tanggal.col-xs-12 20 Juli 1861
			h2.nama.col-xs-12 Kolonel Gustave Verspijck
			p.surat.col-xs-5 “...dengan tegas kami terangkan kepada tuan: Kami tidak setuju terhadap usul minta ampun dan kami berjuang terus menuntut hak pusaka (kemerdekaan)...”
		section.panel.turqoise
			p.tanggal 27 Maret 1968
			.sk
				p berdasarkan
				h3 SK No. 06/TK/1968
			p.surat.col-xs-5 beliau dianugrahi gelar sebagai Pahlawan Nasional Kemerdekaan oleh Pemerintahan Republik Indonesia.
		section.panel.green
			.pop-kuis.col-xs-7
				h1.title Siapa pahlawan yang dimaksud ini?
				.card-group
					.card
						img.card-img(src="#")
						.card-img-overlay
							p.card-text source
					.card
						img.card-img(src="#")
						.card-img-overlay
							p.card-text source
					.card
						img.card-img(src="#")
						.card-img-overlay
							p.card-text source
		section.panel.bordeaux
			p nama dan gambar beliau diabadikan dalam uang kertas nominal Rp. 2000
//- 	img(src="#")
//- .scene-ketahanan
	p.tanggal 20 Juli 1861
	h2 Kolonel Gustave Verspijck
	p.surat “...dengan tegas kami terangkan kepada tuan: Kami tidak setuju terhadap usul minta ampun dan kami berjuang terus menuntut hak pusaka (kemerdekaan)...”

//- .scene-penganugrahan
//- 	p.tanggal 27 Maret 1968
//- 	p berdasarkan
//- 	h3.sk SK No. 06/TK/1968
//- 	p beliau dianugrahi gelar sebagai Pahlawan Nasional Kemerdekaan oleh Pemerintahan Republik Indonesia.
//- .scene-kuis
//- .scene-duit
//- 	p nama dan gambar beliau diabadikan dalam uang kertas nominal Rp. 2000
//- 	img(src="#")

#pinContainer
	.slideContainer
		section.panel.blue
			b lololol
		section.panel.turqoise
			b lololol
		section.panel.green
			b lololol
		section.panel.bordeaux
			b lololol
#scene
	.slideContainer
		section.panel.blue
			b lololol
		section.panel.turqoise
			b lololol
		section.panel.green
			b lololol
		section.panel.bordeaux
			b lololol
