section#header
	h1.title Kenal Pahlawan Kuy
	h6.subtitle Tugas akhir MPKT A kelas D
	#scrolldown
		| slide down
section.pahlawan
	.container
		| jamban
section.pahlawan
	.container
		| jamban
section.pahlawan
	.container
		| jamban
section.pahlawan
	.container
		| jamban
section.pahlawan
	.container
		| jamban