// @import url(https://fonts.googleapis.com/css?family=Josefin+Sans:400,700|Libre+Baskerville);

$backgroundColor : #F9F9F9;
$headerHeight : 100vh;
$popKuisW : 60%;

html,body { 
  height: 100%;
  margin: 0px;
  padding: 0px;
  font-size: 16pt;
  background-repeat: repeat-y;
  background-size: 100% 100%;
  font-family: 'Libre Baskerville', serif;
  background-image: url('/assets/img/background.jpg');
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Josefin Sans', sans-serif;
}
#header {
  text-align: center;
  height: 100%;
  min-height: 18em;
  .parallaxParent {
    height: $headerHeight;
    overflow: hidden;
  }
  .parallaxParent > .image {
    height: 200%;
    position: relative;
    top: -100%;
    background-size: auto 100%;
    background-repeat: no-repeat;
  }

  .overlay {
    position: absolute;
    top: $headerHeight / 3;
    width: 100%;
    height: 10%;
  }

  #scrolldown {
    animation-name: stylie-keyframes;
    animation-duration: 2000ms;
    animation-delay: 0ms;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    transform-origin: 0 0;
  }

  @keyframes stylie-keyframes {
     0% {
      transform:  translate(0px,0px)  ;
    }
    50% {
      transform:  translate(0px,10px)  ;
    }
    100% {
      transform:  translate(0px,0px)  ;
    }
  }
}

.pahlawan {
  
  // height: 100em;
    overflow-x: hidden;
  .container {
    height: 100%;
    min-height: 100%;
    background-color: $backgroundColor;
  }

  .map {
    position: fixed;
    top: 100px;
  }
}

section.antasari {
  width: 100%;
  height: 100%;
  .scene-identitas {
    width:100%;
    height: 100%;
    overflow: hidden;
    perspective: 1000;
  }

  // .scene-kiprah {
  //   overflow: hidden;
  //   width: 100%;
  //   height: 100%;
  // }
}

section.antasari-1 {
  width: 100%;
  height: 100%;
  .scene-kiprah {
    width:100%;
    height: 100%;
    overflow: hidden;
    perspective: 1000;
  }

  // .scene-kiprah {
  //   overflow: hidden;
  //   width: 100%;
  //   height: 100%;
  // }
}

#pinContainer, #scene, .scene-ketahanan {
  width: 100%; 
  height: 100%; 
  overflow:hidden; 
  perspective: 1000;
}
.slideContainer {
  width: 400%;
  height: 100%;
  .panel {
    width : 25%;
    float: left;
    background-repeat: no-repeat;
    background-size: auto 100%;
    // display: inline-block;
    height: 100%;
    * {
      text-align: center;
    }

    background-image: url('/assets/img/background.jpg');
    &.blue {
      // background-image: url('/assets/img/background with badaruddin.jpg');
      background-repeat: no-repeat;
      background-size: cover;
    }
    &.turqoise {
      // background-image: url('/assets/img/Background with Oto Iskandar di Nata.jpg');
      background-repeat: no-repeat;
      background-size: cover;
    }
    &.green {
      background-repeat: no-repeat;
      background-size: cover;
    }
    &.bordeaux1 {
      background-image: url('/assets/img/Background with Antasari.jpg');
      // background-color: red;
      background-repeat: no-repeat;
      background-size: cover;
    }
    &.bordeaux2 {
      background-image: url('/assets/img/Background with Badaruddin.jpg');
      // background-color: red;
      background-repeat: no-repeat;
      background-size: cover;
    }
    &.bordeaux3 {
      background-image: url('/assets/img/Background with Oto Iskandar di Nata.jpg');
      // background-color: red;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
}

.pop-kuis {
  .card {
    position: relative;
    height: 15em;
    overflow: hidden;
    padding: 0 1em;
    border: none;
    background-image: url('/assets/img/background.jpg');
    img {
      text-align: center;
      height:100%;

      // centerize
      position: absolute;
      top: -9999px;
      bottom: -9999px;
      left: -9999px;
      right: -9999px;
      margin: auto;
    }
    p.card-text {
      visibility: hidden;
    }
  }
  .title {

  }
}

// source http://www.uang-kuno.com/ duit antasari
// source duit lain http://kaskus.co.id